@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import "./header.scss";
@import "./intro.scss";
@import "./questions.scss";
@import "./services.scss";
@import "./footer.scss";
@import "./burger-menu.scss";
@import "./services-page.scss";
@import "./trainings.scss";
@import "./training.scss";

// @font-face {
//   font-family: "Lato";
//   src: url("../assets/fonts/Lato-Regular.ttf");
// }

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.ttf");
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #282c37;
}

.container {
  max-width: 1173px;
  margin: 0 auto;
}

.breadcrumb {
  font-size: 12px;
  line-height: 16px;
  color: #282c37;
  padding-top: 66px;
  margin-bottom: 42px;

  span {
    font-size: 12px;
    line-height: 16px;
    color: #9fa7b0;
    padding-right: 16px;
  }
}

@media screen and (max-width: 768px) {
  .breadcrumb {
    padding-top: 30px;
  }
}
